<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css">
    <title>Cardápio</title>
</head>

<body>
    <div class="home">

        <div class="home-left">
            <div class="sidebar-menu">
                <div class="sidebar-menu__icon">
                    <img src="../assets/pessoa.png" alt="Funcionário">
                </div>
                <ul class="menu-list">
                    <li class="menu-list__item">
                        <a href="/">Registrar Refeições</a>
                    </li>
                    <li class="menu-list__item">
                        <a href="/registros">registros</a>
                    </li>
                    <li class="menu-list__item">
                        <a href="/cardapio">cardápio</a>
                    </li>
                </ul>
                <div class="sidebar-menu__logo">
                    <img src="../assets/fortes-logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="home-right">
            <h1>Cardápio do dia:</h1>
            <ul class="menu-day">
                <li class="menu-item">
                    <h2>Café da Manhã:</h2>
                    <p>Pão com Mortadela, Pingado</p>
                </li>
                <li class="menu-item">
                    <h2>Almoço:</h2>
                    <p>Arroz Branco, Feijão de Caldo, Carne Ensopada com Batatas, Salada Alface Tomate</p>
                </li>
                <li class="menu-item">
                    <h2>Café da Tarde:</h2>
                    <p>Pão com Mortadela, Pingado</p>
                </li>
            </ul>
        </div>

        <div id="popup-overlay">
            <div class="popup-confirm" data-employee-id="120">

            </div>
        </div>

    </div>

    <script src="../scripts/jquery-3.7.1.slim.min.js"></script>
    <script src="../scripts/axios.min.js"></script>
    <script src="../scripts/index.js"></script>
</body>

</html>

<!-- 
 -->