<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css">
    <title>Document</title>
</head>

<body>
    <div class="home">
        <form id="register-form">
            <input type="number" required id="registry-number">
            <select name="menu" id="menu">
                <option value="Frango a Parmeggiana" selected>Frango a Parmeggiana</option>
            </select>
            <button type="submit">Registro</button>
        </form>

        <ul class="dinners"></ul>
    </div>

    <script src="../scripts/jquery-3.7.1.slim.min.js"></script>
    <script src="../scripts/axios.min.js"></script>
    <script src="../scripts/index.js"></script>
</body>

</html>