<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="home">
        <div class="home-left">
            <div class="sidebar-menu">
                <div class="sidebar-menu__icon">
                    <img src="../assets/pessoa.png" alt="Funcionário">
                </div>
                <ul class="menu-list">
                    <li class="menu-list__item">
                        <a href="/">Registrar Almoço</a>
                    </li>
                </ul>
                <div class="sidebar-menu__logo">
                    <img src="../assets/fortes-logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="home-right">
            <h1>Registros</h1>

            <div class="count">
                <h2>Total de pedidos hoje:</h2>
                <span id="count"></span>
            </div>
            <table class="dinners">
                <tbody>
                    <tr>
                        <th>Número da Refeição</th>
                        <th>Registro do Funcionário</th>
                        <th>Cardápio do Dia</th>
                        <th>Data do Registro</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="../scripts/jquery-3.7.1.slim.min.js"></script>
    <script src="../scripts/axios.min.js"></script>
    <script src="../scripts/index.js"></script>
</body>

</html>