<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros</title>
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="home">
        <div class="home-left">
            <div class="sidebar-menu">
                <div class="menu-mobile">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="sidebar-menu__icon">
                    <img src="../assets/pessoa.png" alt="Funcionário">
                </div>
                <ul class="menu-list">
                    <li class="menu-list__item">
                        <a href="/registros">registros</a>
                    </li>
                </ul>
                <li class="menu-list__item logout">
                    <a href="/">sair</a>
                </li>
                <div class="sidebar-menu__logo">
                    <img src="../assets/fortes-logo.png" alt="">
                </div>
            </div>
        </div>
        <div class="home-right register">
            <h1>Registros</h1>

            <div class="count-container">
                <h2>Café da manhã no dia:</h2>
                <span class="count manha">0</span>
                <h2>Almoços no dia:</h2>
                <span class="count almoco">0</span>
                <h2>Café da tarde no dia:</h2>
                <span class="count tarde">0</span>
            </div>
            <table class="dinners">
                <tbody>
                    <tr>
                        <th>Número da Refeição</th>
                        <th>Registro do Funcionário</th>
                        <th>Cardápio do Dia</th>
                        <th>Data do Registro</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="../scripts/jquery-3.7.1.slim.min.js"></script>
    <script src="../scripts/axios.min.js"></script>
    <script src="../scripts/index.js"></script>
</body>

</html>